<% content_for :title, "Editing feirante" %>

<h1>Editing feirante</h1>

<%= render "form", feirante: @feirante %>

<br>

<div>
  <%= link_to "Show this feirante", @feirante %> |
  <%= link_to "Back to feirantes", feirantes_path %>
</div>
