<% content_for :title, "Editing feirante" %>

<h1>Editing feirante</h1>

<%= render "form", feirante: @feirante %>

<br>

<div>
  <% if current_admin %>
    <%= link_to "Back", :back %>
  <% end %>
</div>
