<% content_for :title, "Editing avaliacao feirante" %>

<h1>Editing avaliacao feirante</h1>

<%= render "form", avaliacao_feirante: @avaliacao_feirante %>

<br>

<div>
  <%= link_to 'Voltar', :back %>
</div>
