<!DOCTYPE html>
<html>
<head>
  <title>Nova Avaliação do Feirante</title>
</head>
<body>
  <h2 class="title">Nova Avaliação do Feirante</h2>
  <%= render "form", avaliacao_feirante: @avaliacao_feirante %>
</body>
</html>
