<div id="<%= dom_id mensagem %>">
  <p>
    <strong>Mensagem:</strong>
    <%= mensagem.mensagem %>
  </p>

  <p>
    <strong>User:</strong>
    <%= mensagem.user_id %>
  </p>

  <p>
    <strong>Feirante:</strong>
    <%= mensagem.feirante_id %>
  </p>

</div>
