<% content_for :title, "Editing mensagem" %>

<h1>Editing mensagem</h1>

<%= render "form", mensagem: @mensagem %>

<br>

<div>
  <%= link_to "Show this mensagem", @mensagem %> |
  <%= link_to "Back to mensagems", mensagems_path %>
</div>
