<div id="<%= dom_id shopping %>">
  <p>
    <strong>Nome:</strong>
    <%= shopping.nome %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= shopping.localizacao %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= shopping.nota %>
  </p>

</div>
