<div id="<%= dom_id wish_list %>">
  <p>
    <strong>Quantidade:</strong>
    <%= wish_list.quantidade %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= wish_list.produto_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= wish_list.user_id %>
  </p>

</div>
