<% content_for :title, "Editing user" %>

<div class="feira-container" style="width: 80%;">
  <h2 class="title">Editing user</h2>

  <%= render "form", user: @user %>

  <div class="button-double" style="margin-top: 20px;">
    <%= button_to "Destroy this user", @user, method: :delete, 
      class: 'button-confirm',
      data: { turbo_confirm: "Tem certeza que deseja deletar sua conta?" } %>
    <%= link_to 'Voltar', home_feira_path, class: 'button-confirm', style: 'width: 100px;' %>
  </div>
</div>
