<% content_for :title, "New user" %>

<div class="feira-container" style="width: 80%;">
  <h2 class="title">New user, não use o nome 'Visitante', você foi avisado !</h2>
  <p class="subtitle">Foto é opcional.</p>
  <%= render "form", user: @user %>

  <div class="button-double" style="margin-top: 20px;">
    <%= link_to 'Voltar', root_path, class: 'button-confirm', style: 'width: 100px;' %>
  </div>
</div>

