<div id="<%= dom_id message %>">
  <p>
    <strong>Texto:</strong>
    <%= message.texto %>
  </p>

  <p>
    <strong>User:</strong>
    <%= message.user_id %>
  </p>

  <p>
    <strong>Feirante:</strong>
    <%= message.feirante_id %>
  </p>

</div>
