<% content_for :title, "Editing avaliacao shopping" %>

<h1>Editing avaliacao shopping</h1>

<%= render "form", avaliacao_shopping: @avaliacao_shopping %>

<br>

<div>
  <%= link_to 'Voltar', :back %>
</div>
