<!DOCTYPE html>
<html>
<head>
  <title>Nova Avaliação do Shopping</title>
</head>
<body>
  <h2 class="title">Nova Avaliação do Shopping</h2>
  <%= render "form", avaliacao_shopping: @avaliacao_shopping %>
</body>
</html>
