<div id="<%= dom_id historico_de_compra %>">
  <p>
    <strong>Quantidade:</strong>
    <%= historico_de_compra.quantidade %>
  </p>

  <p>
    <strong>User:</strong>
    <%= historico_de_compra.user_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= historico_de_compra.produto_id %>
  </p>

</div>
