<% content_for :title, "Editing historico de compra" %>

<h1>Editing historico de compra</h1>

<%= render "form", historico_de_compra: @historico_de_compra %>

<br>

<div>
  <%= link_to "Show this historico de compra", @historico_de_compra %> |
  <%= link_to "Back to historico de compras", historico_de_compras_path %>
</div>
