<% content_for :title, "New historico de compra" %>

<h1>New historico de compra</h1>

<%= render "form", historico_de_compra: @historico_de_compra %>

<br>

<div>
  <%= link_to "Back to historico de compras", historico_de_compras_path %>
</div>
